h6,
p {
  margin: 0;
  padding: 0;
}

.card {
  border-radius: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  text-decoration: none;
}

.card:hover {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.card-body {
  background: #fff;
  color: #000;
}

.card-body i {
  text-align: right;
  display: block;
}

.card-img-top {
  border-radius: 0;
  border: none;
}

.container-fluid {
  background: linear-gradient(30deg, #ab170c 40%, #541209 100%);
  line-height: 1;
}

.bg {
  height: 100%;
  background: url("../../../assets/background.jpg") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.right-nav,
.left-nav {
  width: max-content;
}

.dropdown-menu {
  top: 21px !important;
  padding: 0;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-color: transparent;
}

.dropdown-menu .dropdown-item:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.dropdown-item {
  color: #000;
  border: inherit;
}

.dropdown-item:hover,
.dropdown-item.active {
  background: #000;
  color: #fff;
}

.nav-icon {
  display: inline-block;
  vertical-align: top;
  height: 50px;
  width: 50px;
  background: #fff;
  border-radius: 25px;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.nav-icon > a {
  width: 50px;
  height: 50px;
  font-size: 32px;
  top: 8px;
  left: 8px;
  color: #000;
  text-decoration: none;
  position: relative;
}

.left-nav .dropdown > a {
  left: 12px;
  top: 9px;
  transition: none;
}

.left-nav .dropdown.show > a {
  left: 15px;
  top: 9px;
}

.change-icon > .fa + .fa,
.dropdown.show .change-icon > .fa {
  display: none;
}

.dropdown.show .change-icon > .fa + .fa {
  display: inherit;
}

.search-wrapper .input-holder {
  display: inline-block;
  height: 50px;
  width: 50px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0);
  border-radius: 6px;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.search-wrapper.active .input-holder {
  width: 450px;
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.5s cubic-bezier(0, 0.105, 0.035, 1.57);
}

.search-wrapper .input-holder .search-input {
  width: 100%;
  height: 30px;
  padding: 0px 70px 0 20px;
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  background: transparent;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: "Open Sans", Arial, Verdana;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #fff;
  transform: translate(0, 40px);
  transition: all 0.3s cubic-bezier(0, 0.105, 0.035, 1.57);
  transition-delay: 0.3s;
}
.search-wrapper.active .input-holder .search-input {
  opacity: 1;
  transform: translate(0, 10px);
}
.search-wrapper .input-holder .search-icon {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 25px;
  background: #fff;
  padding: 0px;
  outline: none;
  position: relative;
  z-index: 2;
  float: right;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.search-wrapper.active .input-holder .search-icon {
  width: 30px;
  height: 30px;
  margin: 10px;
  border-radius: 30px;
}
.search-wrapper .input-holder .search-icon span {
  width: 22px;
  height: 22px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  transform: rotate(45deg);
  transition: all 0.4s cubic-bezier(0.65, -0.6, 0.24, 1.65);
}
.search-wrapper.active .input-holder .search-icon span {
  transform: rotate(-45deg);
}
.search-wrapper .input-holder .search-icon span::before,
.search-wrapper .input-holder .search-icon span::after {
  position: absolute;
  content: "";
}
.search-wrapper .input-holder .search-icon span::before {
  width: 4px;
  height: 11px;
  left: 8px;
  top: 12px;
  border-radius: 2px;
  background: #000;
}
.search-wrapper .input-holder .search-icon span::after {
  width: 15px;
  height: 15px;
  left: 2px;
  top: -2px;
  border-radius: 16px;
  border: 4px solid #000;
}

.search-wrapper.active .input-holder .search-icon span::before {
  left: 11px;
  top: 12px;
}

.search-wrapper.active .input-holder .search-icon span::after {
  left: 6px;
  top: -2px;
}
